<li>
	<a href="/passivo_circulante_financeiros">Listar passivos circulantes financeiros</a>
</li>
<li>
	<%= link_to 'Novo passivo circulante financeiro', new_passivo_circulante_financeiro_path %>
</li>