<%= render 'static/menu'%>
<%= render 'layouts/final_menu' %> 
Olá<%= #@usuario.nome
 %>, você é parte integrante deste sistema e foi pensando em você que ele foi desenvolvido.
</br>
Sinta-se a vontade para sugerir possíveis melhorias, ou novas funções.
</br>
<aviso>
	<br/>Este sistema funciona em todos os navegadores, mas prefira o MOZILLA FIREFOX, por ser livre.
	<br/>Este programa está sob os termos da Licença Pública Geral GNU. Para maiores informações acesse a aba superior <a href="/static/GPL">Licença Pública Geral GNU</a>
</aviso>