<li>
	<a href="/passivo_circulante_operacionals">Listar passivos circulantes operacionais</a>
</li>
<li>
	<%= link_to 'Novo passivo circulante operacional', new_passivo_circulante_operacional_path %>
</li>
