<%= render 'passivo_circulante_operacionals/menu'%>
<%= render 'layouts/final_menu' %> 

<h1>Listing passivo_circulante_operacionals</h1>

<%= render 'passivo_circulante_operacionals/part_index' %> 

<br />

<%= link_to 'New Passivo circulante operacional', new_passivo_circulante_operacional_path %>
