<%= render 'passivo_circulante_operacionals/menu'%>
<%= render 'layouts/final_menu' %> 

<h1>New passivo_circulante_operacional</h1>

<%= render 'form' %>

<%= link_to 'Back', passivo_circulante_operacionals_path %>
