<%= render 'ativo_circulante_operacionals/menu'%>
<%= render 'layouts/final_menu' %> 

<h1>Listing ativo_circulante_operacionals</h1>

<%= render 'ativo_circulante_operacionals/part_index' %> 

<br />

<%= link_to 'New Ativo circulante operacional', new_ativo_circulante_operacional_path %>
