<%= render 'ativo_circulante_operacionals/menu'%>
<%= render 'layouts/final_menu' %> 

<h1>New ativo_circulante_operacional</h1>

<%= render 'form' %>

<%= link_to 'Back', ativo_circulante_operacionals_path %>
