/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


html, body { height: 450px; } /* Altera a altura mínima do corpo da página */
html, body { width: 1350px; }/* Altera a largura mínima do corpo da página */ 


body {
  background-color: #e6dacf; /* padrão #e6dacf; /* Cor de fundo */
  /*background-image: url('bg.png'); /**/
  background-position: top center; /**/
  /*background-repeat: repeat-y; /**/
  /*font-family: "Trebuchet MS", Arial, san-serif; /**/
  font-size: 14px; /**/
  margin: 0px;
  padding: 0px;
  /*text-align: center; /**/
}



div#content aviso {font-size: 12px; /**/}
  
  
div#LICENSE {  
  text-align: justify;
}



div#aviso {
  text-align: center;
  font-size: 8px; /**/
}



a { color: #000; } /* Cor dos links */


a:hover { /* Cor dos links quando mouse em cima */
  background: #000; /**/
  color: #e6dacf; /**/
}


div#wrapper { min-height: 100%; }


div#header {
  border: solid #000; /* sem efeito */
  border-width: 0 7px 0 0; /* sem efeito */
  background: url('bgHeader3.png'); /* imagem de fundo */
  height: 100px;
  width: auto;
  padding: 8px 0px 0 0;
}



div#header div { 
  margin: 0; /* sem efeito */
  position: 0 0 0 0; /* sem efeito */
  width: 800px; /* sem efeito */
}



div#header h1 { 
  color: #333; /* altera a cor do título do cabeçalho */
  left: 0px; 
  margin: 10px 0 0 80px; /* desloca o logo e o título */
  width: 334px; /* altera tamanho do título */
  padding: 10px 0 0 80px; /* desloca o título */
  position: absolute;
  background: url('financas.jpg') no-repeat; /* imagem de logo */
  display: block; /* sem efeito */
  height: 40px;
}





div#content{ /* corpo do texto */
  margin: 10px 0 0 230px; /* posição do texto*/
  padding: 0px 0 0 0px; /* posição do texto*/
  text-align: left; /* alinhamento do texto */
  width: 1100px; /* largura do texto */
  height: auto /* altura do texto */
}



div#content img { /* imagens dentro do texto */
  border: 10px solid #000; /* sem efeito */
  float: right; /* sem efeito */
  margin: 18px 0 0 20px; /* sem efeito */
}



div#content h2 { /* tags h2 dentro do texto */
  border: solid #999; /* sem efeito */
  border-width: 0 0 5px 0; /* sem efeito */
  font-size: 28px; margin: 0; /* sem efeito */
  padding: 0 0 10px 0; /* sem efeito */
}



div#content h1 { /* tags h1 dentro do texto */
  border: solid #999; /* sem efeito */
  border-width: 0 0 5px 0; /* sem efeito */
  font-size: 20px; /* tamanho da fonte */
  margin: 0; /* sem efeito */
  padding: 2px 0 5px 5px; /* margem */
}


div#content td { /* tags td dentro do texto */
  border: solid #999; /* cor da borda */
  border-width: 1px 1px 1px 1px; /* borda */
  font-size: 14px; /* tamanho da fonte */
  margin: 10px; /* sem efeito */
  /*padding: 4px 6px 10px 0; /* margem */
}



div#content th { /* tags th dentro do texto */
  /*border: solid #999; /* cor da borda */
  border-width: 0 0 1px 1px; /* borda */
  font-size: 14px; /* tamanho da fonte */
  margin: 0; /* sem efeito */
  padding: 10px 10px 2px 10px; /* margem */
}



div#content p { /* tags p dentro do texto */
  /*border: solid #999; /* cor da borda */
  border-width: 0 0 1px 1px; /* borda */
  font-size: 14px; /* tamanho da fonte */
  margin: 5px 5px 5px 0px; /* margem */
  padding: 5px 0 5px 0; /* margem */
}


div#content b { /* tags b dentro do texto */
  border: solid #999; /* cor da borda */
  border-width: 0 0 1px 1px; /* borda */
  font-size: 16px; /* tamanho da fonte */
  margin: 5px 5px 5px 0px; /* margem */
  /*padding: 4px 6px 10px 0; /* margem */
}

div#content table tr td b { /* tags table tr td b */
  border: solid #999; /* cor da borda */
  border-width: 0 0 0 0; /* borda */
  font-size: 14px; /* tamanho da fonte */
  /*margin: 5px 5px 5px 0px; /* margem */
  /*padding: 4px 6px 10px 0; /* margem */
}

div#clearfooter { 
  height: 10px;
  margin: 10px 0 0 0;
}


div#footer { 
  border: solid #000; /* sem efeito */
  border-width: 0 7px 0 0; /* sem efeito */
  background: url('bgFooter3.png');
  height: 110px;
  margin: 100px 0 0 0; 
}



ol {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; 
}



pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

div {
  &.field, &.actions {
    margin-bottom: 10px; 
  } 
}



#notice {
  color: green; 
}


#alert {
  color: red; 
}


.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; 
}



#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; 
  }
  ul li {
    font-size: 12px;
    list-style: square; 
  } 
}













#barralateral_esq { /* Menu lateral esquerdo */
  background: url('bg.png') ; /* imagem de fundo */
  float: left; /* posição */
  width: 160px; /* largura */
  /*display: block;
  /*background-repeat: repeat ; /**/
  height: 320px; /* altura */
  /*background-color: #aaa; /*cor de fundo */
  border: solid #000; /* cor da borda do menu */
  border-width: 0px 7px 7px 0px; /* tamanho da borda */
  margin: 100px 0px 0px 0px; /* margem */
}


ul#barralateral_esq { 
  padding: center; /* desloca o menu */
  list-style: none;
}



ul#barralateral_esq li { /* menu */
  background: #e6dacf; /* cor de fundo do menu */
  border: solid #000; /* cor da borda do menu */
  border-width: 3px 0px 3px 3px; /* tamanho da borda */
  margin: 15px 0px 0px 0px; /* espaçamento entre itens do menu */
}



ul#barralateral_esq a { /* menu */
  display: block;
  padding: 3px 0px 3px 3px;
  text-decoration: none;
  cursor: default; /* tipo do mouse */
}



ul#barralateral_esq a:hover { /* menu */
  display: block; /* sem efeito */
  padding: 3px 0px 3px 0px;
  cursor: default; /* tipo do mouse */
}



ul#barralateral_esq a.current { padding-bottom: 8px; } /* sem efeito */


ul#barralateral_esq a.current:hover { 
  background: #e6dacf; /* sem efeito */
  color: #000; /* sem efeito */
  cursor: default; /* sem efeito */
}













ul#nav { 
  float: left; /* desloca o menu */
  margin: 0px; /* desloca o menu */
  padding: 73px 40px 0 0; /* desloca o menu */
  list-style: none;
}



ul#nav li { /* menu */
  background:  #ddd;/*#e6dacf; /* cor de fundo do menu */
  border: solid #000; /* cor da borda do menu */
  border-width: 2px 2px 0px 2px; /* tamanho da borda */
  float: left; /* disposição do menu */
  margin: 0 0 0 2px; /* espaçamento entre itens do menu */
}



ul#nav a { /* menu */
  display: block;
  padding: 0px 2px 0px 2px;
  text-decoration: none;
  cursor: default; /* tipo do mouse */
}



ul#nav a:hover { /* menu */
  /*display: block; /* sem efeito */
  /*padding: 2px 2px 2px 2px;
  cursor: default; /* tipo do mouse */
}



ul#nav a.current { padding-bottom: 8px; } /* sem efeito */


ul#nav a.current:hover { 
  background: #e6dacf; /* sem efeito */
  color: #000; /* sem efeito */
  cursor: default; /* sem efeito */
}
