<%= render 'ativo_circulante_financeiros/menu'%>
<%= render 'layouts/final_menu' %> 

<h1>Listing ativo_circulante_financeiros</h1>

<%= render 'ativo_circulante_financeiros/part_index' %> 

<br />

<%= link_to 'New Ativo circulante financeiro', new_ativo_circulante_financeiro_path %>
