<%= render 'ativo_circulante_financeiros/menu'%>
<%= render 'layouts/final_menu' %> 

<h1>New ativo_circulante_financeiro</h1>

<%= render 'form' %>

<%= link_to 'Back', ativo_circulante_financeiros_path %>
