<%= render 'analise_financeiras/menu'%>
<%= render 'layouts/final_menu' %> 

<h1>Listing analise_financeiras</h1>

<%= render 'analise_financeiras/part_index'%>

<br />

<%= link_to 'New Analise financeira', new_analise_financeira_path %>
